body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: Indigo;
}

.topnav a.active {
  background-color: Indigo;
  color: white;
}
#searchInput {
  margin-left: 400px;
  margin-top: 10px;
  width: 300px;
  height: 25px;
  background-color: white;
  border: 2px solid indigo;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
#searchButton {
  width: 100px;
  height: 28px;
  background-color: indigo;
  border: 2px solid indigo;
  margin-left: 30px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#video {
  margin-top: 300px;
  margin-left: 950px;
}

.imgs {
  width: 120px;
  height: 100px;
}
#footer {
  position: absolute;
  bottom: 0;
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: space-between;
  width: 60%;
  left: 18%;
}
#cut {
  width: 300px;
  height: auto;
  border: 3px solid indigo;
  margin-top: 4px;
}
#para {
  justify-content: center;
  margin-top: -55px;
  margin-left: 10px;
}
#t {
  margin-left: 40px;
  margin-bottom: 80px;
}
#help {
  margin-top: 330px;
}
#tit {
  margin-left: 400px;
  margin-top: 30px;
  color: indigo;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
#t2 {
  margin-left: 60px;
}
#im2 {
  margin-left: 30px;
  margin-top: 0px;
}
#secure {
  margin-top: -300px;
  margin-left: 1200px;
  margin-bottom: -60px;
}

#c {
  width: 900px;
  height: 350px;
  margin-top: -20000px;
  margin-left: 200px;
  margin-bottom: 180px;
}
